<div class="row">
  <div class="col-xs-12">
      <h2>vos invaders</h2>
      <div>
        <input type="text" [(ngModel)]="searchBox">
      </div>
      <div class="list-group" *ngIf="cities">
          <button class="list-group-item"
                  *ngFor="let invader of invaders | InvadersFilter: searchBox ; let i = index"
                  (click)="onViewInvader(i)">
              <h3 class="list-group-item-heading">
                  {{ invader.code}}
                  <button class="btn btn-default pull-right" (click)="onDeleteInvader(invader)">
                      <span class="glyphicon glyphicon-minus"></span>
                  </button>
              </h3>
              <img src="assets/images/pict/{{ invader.code }}-grosplan.png">
              <p class="list-group-item-text">{{ invader.city }} - {{ cities[invader.city].name }} ({{ cities[invader.city].country }})</p>
          </button>
      </div>
      <button class="btn btn-primary" (click)="onNewInvader()">Nouveau invader</button>
  </div>
</div>
