/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: retroville_nc;
  src: url('assets/fonts/Retroville NC.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'retroville_nc';
  color: #2C2C2C
}
