<div class="row">
  <div class="col-xs-12">
      <h1>{{ city.code }}</h1>
      <h2>{{ city.name }}</h2>
      <h2>{{ city.country }}</h2>
      <h2>{{ city.continent }}</h2>
      <h2>{{ city.firstInvader }}</h2>
      <h2>{{ city.nbInvader }}</h2>
      <h2>{{ city.nbLivingInvader }}</h2>
      <h2>{{ city.nbWaves }}</h2>
      <h2>{{ city.scoreInvader }}</h2>
      <h2>{{ city.scoreLivingInvader }}</h2>
      <h2>{{ city.yearFirstInvasion }}</h2>
  </div>
  <div class="button btn btn-default" (click)="onBack()">Retour</div>
</div>
